*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
        --img-url: url(pic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


  .bg {
    background-image: url("pic.jpg");
    height: 100%; 
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.55)) , url(pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  

   nav {
        padding: 0px;
        overflow: hidden; 
        width: 100%;
      }
      
      
      nav ul {
        margin: 0px;
        list-style-type: none;
        overflow: hidden;
        background-color: black;
        text-align: center;
        width: 100%;
      }
      
      
      nav li{
        display: inline-block;
        padding: 15px;
        font-family: 'Lexend', serif;
        font-size: 18px;
       margin-right: 60px;
      }
      
      
       .link{
        color: white;
        text-decoration: none;
        text-align: center;
       font-family: 'Lexend', 'Cormorant Garamond', serif;
         font-size: 17px;
      }
      
      .link:hover{
          color: #3f1212;
      }
      
      
      
      #active {
        color: #701e1e;
              }
      
      #active:hover{
        color: white;
      }


.intro{
    height: 25em;
    width: 25em;
    position: absolute;
    left: 37%;
    color: white;
    top: 27%;
    text-align: center;
}

.intro h1{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 72px;
}

.intro p{
    font-family: 'Nanum Myeongjo', serif;
    margin-top: 20px;
    font-size: 20px;
}

.intro a{

    display: block;
    width: 150px;
    height: 40px;
    position: relative;
    margin: auto;
    top: 40px;
    background: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Lexend', 'Cormorant Garamond', serif;
    border-radius: 2px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;

}
